*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.container {
  max-width: 1100px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

ol,
ul {
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.expense__title {
  text-transform: uppercase;
  font-size: 25px;
  color: coral;
  margin-bottom: 30px;
}

.expense__subtitle {
  padding: 20px;
  background-color: #2b2b2b;
  border-radius: 5px;
  display: none;
  color: coral;
  text-transform: uppercase;
}

.expense__status--success {
  color: green;
}

.expense__status--unsuccess {
  color: red;
}

.row {
  display: flex;
  justify-content: space-between;
}

.expense__indicate-values {
  font-size: 30px;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0 0 5px #2b2b2b;
  border: 1px solid #2b2b2b;
  margin-top: 100px;
  margin-right: 70px;
  color: #fff;
  background-color: #2b2b2b;
  min-width: 500px;
}

.expense__limit {
  margin-bottom: 20px;
}

.expense__limit-value {
  margin-right: 12px;
}

.expense__limit-icon {
  width: 42px;
  height: 42px;
}

.expense__limit-edit-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.btn {
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  background-color: lightblue;
  border: 1px solid lightblue;
  color: #2b2b2b;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s linear, box-shadow 0.3s linear,
    color 0.3s linear;
  box-shadow: 0px 0px 5px lightblue;
}

.btn:hover {
  border: 1px solid #2b2b2b;
  background-color: #2b2b2b;
  box-shadow: 0px 0px 5px coral;
  color: #fff;
}

.btn--red {
  background-color: red;
  box-shadow: 0 0 5px red;
  border: 1px solid red;
}

.expense__output-title {
  text-transform: uppercase;
  color: #2b2b2b;
  margin-bottom: 50px;
}

.expense__input {
  display: inline-block;
  font-size: 25px;
  padding: 5px;
  padding-left: 20px;
  height: 90%;
  border-radius: 5px;
  outline: none;
  border: 2px solid coral;
  box-shadow: 0 0 5px coral;
  min-width: 200px;
  margin-right: -70px;
  transition: border 0.3s linear;
}

.expense__status {
  display: flex;
  align-items: center;
  gap: 15px;
}

.expense__status-value {
  font-size: 20px;
}

.expense__input:focus {
  border: 2px solid #2b2b2b;
}

.expense__row-input,
.expense__row-category {
  padding: 40px 50px;
  border-radius: 5px;
  margin-bottom: 40px;
  border: 1px solid coral;
  background-color: coral;
}

.expense__row-output {
  border: 1px solid coral;
  padding: 40px 50px;
  border-radius: 5px;
  background-color: coral;
}

.expense__box {
  margin-top: 100px;
  margin-bottom: 100px;
  overflow-y: scroll;
  border: 1px solid #2b2b2b;
  padding: 20px;
  border-radius: 5px;
  background-color: #2b2b2b;
}

.expense__output {
  font-size: 21px;
  min-width: 300px;
  min-height: 300px;
  padding: 20px;
  padding-left: 60px;
  border: 1px solid #2b2b2b;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  box-shadow: 0 0 5px #2b2b2b;
}

.expense__output li + li {
  margin-top: 20px;
}

.expense__category {
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
  min-width: 250px;
  padding: 20px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid transparent;
  transition: 0.3s linear border;
}

.expense__category:focus {
  border: 1px solid orangered;
}

@media (max-width: 1110px) {
  body {
    background-color: gray;
  }

  .expense__box {
    display: none;
  }

  .expense__subtitle {
    display: block;
  }

  .expense__modal-limit {
    display: none;
  }
}

.expense__error-popup {
  width: 320px;
  line-height: 1.5;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: 70px;
  align-self: center;
  padding: 15px 20px;
  background-color: #2b2b2b;
  border-radius: 5px;
  color: red;
  transition: 0.4s linear opacity, 0.4s linear visibility, 0.4s linear transform;
}

.expense__limit-title,
.expense__total-title,
.expense__status-title {
  display: inline-block;
  font-size: 32px;
  color: rgb(173, 57, 57);
}

.expense__total {
  margin-bottom: 20px;
}

.expense__status {
  margin-bottom: 20px;
}

.hide {
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
}

.currency::after {
  content: ' rub.';
  text-transform: uppercase;
  font-size: 20px;
}

.modal-limit {
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  padding: 47px;
  position: fixed;
  z-index: 10000;
  min-width: 991px;
  transition: .3s transform linear, .3s opacity linear, .3s visibility linear;
}

.modal-limit--active {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.modal-limit__title {
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 147px;
  text-transform: uppercase;
}

.modal-limit__inner {
  display: flex;
  justify-content: space-between;
}

.modal-limit__input {
  display: inline-block;
  width: 100%;
  height: 58px;
}

.modal-limit__input-container {
  position: relative;
  width: 50.8%;
}

.modal-limit__currency {
  position: absolute;
  right: 27px;
  top: 40%;
}

.modal-limit__btn {
  width: 41.9%;
  height: 58px;
}

.overlay {
  background-color: rgba(1, 2, 2, 0.8);
}

.modal-limit__close-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
}